.character-pair-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.character-pair-container img {
  border-radius: 8px;
  margin-top: 10px;
}
